@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/background.css';


html, body {
  scroll-behavior: smooth;
}

body {
  cursor: url('/images/cursor.png') 16 16, auto;
}

/* Fallback para elementos interactivos si quieres */
a, button {
  cursor: url('/images/cursor.png') 16 16, pointer;
}

section { scroll-margin-top: 90px; }